<h4 *ngIf="subjectId && topicId" class="pb-3">
    {{subjectId}} - {{topicId}}
</h4>

<h5 class="pb-1">Tasks</h5>
<p *ngIf="!tasks">
    Fetching...
</p>
<ul class="list-group pb-3 col-lg-7 col-xl-6" *ngIf="tasks && tasks.size !== 0">
    <li class="list-group-item" *ngFor="let task of tasks | keyvalue">
        <a routerLink="/task/{{subjectId}}/{{topicId}}/{{task.key}}">
            {{task.value.name}}
        </a>
    </li>
</ul>
<p *ngIf="tasks && tasks.size === 0">
    Nothing here...
</p>

<h5 class="pb-1">Exams</h5>
<p *ngIf="!exams">
    Fetching...
</p>
<ul class="list-group pb-3 col-lg-7 col-xl-6" *ngIf="exams && exams.size !== 0">
    <li class="list-group-item" *ngFor="let exam of exams | keyvalue">
        <a routerLink="/exam/{{subjectId}}/{{topicId}}/{{exam.key}}">
            {{exam.value.name}}
        </a>
    </li>
</ul>
<p *ngIf="exams && exams.size === 0">
    Nothing here...
</p>

<h5 class="pb-1">Notes</h5>
<p *ngIf="!notes">
    Fetching...
</p>
<ul class="list-group pb-3 col-lg-7 col-xl-6" *ngIf="notes && notes.size !== 0">
    <li class="list-group-item" *ngFor="let note of notes | keyvalue">
        <a routerLink="/note/{{subjectId}}/{{topicId}}/{{note.key}}">
            {{note.value.name}}
        </a>
    </li>
</ul>
<p *ngIf="notes && notes.size === 0">
    Nothing here...
</p>