<div *ngIf="subjectId">
    <h4 class="pb-3">{{subjectId}} - {{subjectName}}</h4>

    <h5 class="pb-1">Topics</h5>

    <ul class="list-group col-lg-7 col-xl-6">
        <li *ngFor="let topic of topics | keyvalue" class="list-group-item">
            <span><a routerLink="/subject/{{subjectId}}/{{topic.key}}">
                {{topic.key}} - {{topic.value.name}}
            </a></span>
        </li>
    </ul>
</div>