<form class="col-lg-6 col-md-8 mx-auto">
    <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="email"/>
    </div>

    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="password"/>
    </div>

    <button type="submit" class="btn btn-primary" (click)="logIn();">Log in</button>
</form>