<h4 class="pb-3">Subjects</h4>

<ul class="list-group col-lg-7 col-xl-6">
    <li *ngFor="let subject of subjects | keyvalue"
        class="list-group-item"
    >
        <a routerLink="/subject/{{subject.value.id}}">
            {{subject.key}} - {{subject.value.name}}
        </a>
    </li>
</ul>