th {
    padding: 16px;
}

/* Since I manually create <tr>s and <td>s, I need to put
   :host and ::ng-deep so that Angular detects them and
   styles them accordingly.
   https://stackoverflow.com/questions/36265026/angular-2-innerhtml-styling
*/

:host ::ng-deep .hour-range {
    padding: 8px;
}

:host ::ng-deep td, th {
    border: 1px solid black;
    text-align: center;
}