<div *ngIf="(auth.done$ | async) && (auth.user$ | async); else login">
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3">Escola del Treball</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed"
      type="button" data-toggle="collapse" data-target="#sidebar"
      aria-controls="sidebar" aria-expanded="false" aria-label="Toggle sidebar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav px-3 d-none d-md-block">
      <li class="nav-item text-nowrap">
        <a class="nav-link" (click)="logOut();">Log out</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard" routerLinkActive="router-link-active" data-toggle="collapse" data-target=".collapse.show">
                <!-- <span data-feather="home"> -->
                  Dashboard
                <!-- </span> -->
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/subjects" routerLinkActive="router-link-active" data-toggle="collapse" data-target=".collapse.show">
                <!-- <span data-feather="home"> -->
                  Subjects
                <!-- </span> -->
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/timetable" routerLinkActive="router-link-active" data-toggle="collapse" data-target=".collapse.show">
                <!-- <span data-feather="home"> -->
                  Timetable
                <!-- </span> -->
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/messages" routerLinkActive="router-link-active" data-toggle="collapse" data-target=".collapse.show">
                <!-- <span data-feather="home"> -->
                  Messages
                <!-- </span> -->
              </a>
            </li>
            <li class="nav-item d-block d-md-none">
              <a class="nav-link" (click)="logOut();">
                Log out
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 p-3 p-md-5">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>

<ng-template #login>
  <app-auth *ngIf="auth.done$ | async"></app-auth>
</ng-template>